@import "variables";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/fontawesome/scss/font-awesome";


body {
	padding-top: 50px;
}
.navbar {
	&.headroom {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		@include transition (all .4s ease-in-out);
	}
	&.headroom--unpinned {
		top: -($navbar-height + 1px);
	}
	&.headroom--pinned {
		top: 0;
	}
	.navbar-brand {
		@include text-hide();
		display: inline-block;
		background: {
			image: url('/app/img/planview-logo.png');
			position: center center;
			size: contain;
			repeat: no-repeat;
		}
		width: 157px;
		margin-left: 10px;
	}
}
.callout {
	padding-top: 50px; 
	padding-bottom: 50px; 
	border-bottom: 1px #eee solid;
}
.callout:last-of-type {
	border-bottom: 0;
}
#header {
	margin-bottom: 0;
}
.subnav {
	padding: 10px 0; 
	background-color: $gray-lighter;
}
.site-footer {
	background-color: $gray-darker; 
	padding: 20px 0; 
	color: #fff;
	a {
		color: $gray-lighter;
		&:hover, &:active, &.active {
			color: $brand-danger;
		}
	}
	nav {
		margin-bottom: 20px;
	}
	@media screen and (max-width: $screen-xs-max) {
		text-align: center;
		.social-icons {
			margin: {
				top: 20px;
				bottom: 20px;
			}
		}
	}
	@media screen and (min-width: $screen-sm-min) {
		padding: 50px 0;
		.social-icons {
			text-align: right;
		}
	}
}

.divDisplayFrame {
	padding: 15px;
	box-sizing: content-box;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

html, body {
	min-height:100%;
	height: 100%;
}
html {
	position: relative;
}
.content {
	min-height: 100%;
	margin-bottom: -200px;
	&.ng-scope {
		min-height: 0;
		margin-bottom: 0;
	}
}
.loader {
	position: absolute;
	top: 40%;
	left: 50%;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-top: -50px;
	margin-left: -50px;
	font-size: 150px;
	text-align: center;
}
.btn-lg {
	text-transform:uppercase;
}


#cta-banner {
	width: 100%;
	z-index: 100;
	position: fixed;
	padding: {
		top: 10px;
		bottom: 10px;
	}
	@include box-sizing (border-box);
	background-color: $gray-darker;
	background-color: transparentize($gray-darker,.1);
	@include transition (all .4s ease-in-out);
	text-align: center;
	.btn {
		margin: 5px 10px;
	}
	&.headroom--top {
		top: -100px;
	}
	&.headroom--not-top {
		top: 0;
		&.headroom--pinned {
			top: $navbar-height;
		}
	}
	.ie8 & {
		top: $navbar-height;
	}
}

// hero banner
#hero-banner {
	margin-top: -$navbar-height;
	padding: 80px 0;
	background: {
		image: url('/app/img/into-darkness.png');
		repeat: no-repeat;
		size: cover;
		position: bottom;
	}
    -ms-behavior: url('/app/bower_components/background-size-polyfill/backgroundsize.min.htc');
  	border-bottom: 1px solid #ffffff;
	.container {
  		max-width:730px;
		text-align: center;
  		background: {
  			color: #fff;
  			color: rgba(255,255,255,.8);
  		}
	}
	h1 {
  		font-family: $font-family-serif;
	  	color: $brand-danger;
	}
	h2 {
  		color: $brand-danger;
	}
	.hero-buttons {
		margin-top: 40px;
  		.btn {
  			margin: 0 20px 10px 0;
  		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.container {
			margin: {
				left: 20px;
				right: 20px;
			}
		}
	}

  	@media screen and (min-width: $screen-sm-min) {
  		padding: 160px 0;
  		.cssvhunit.csstransforms:not(.ios) & {
			height: 101vh;
			padding: 0;
  			.container {
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
  			}
  		}
	  	.container {
			text-align: left;
	  		padding: {
	  			top: 42px;
	  			bottom: 42px;
	  			right: 48px;
	  			left: 20px;
	  		}
		  	border-style: solid; 
		  	border-width: 0 0 0 56px; 
		  	-moz-border-image: url(/app/img/hexborder.png) 0 0 0 56 round; 
		  	-webkit-border-image: url(/app/img/hexborder.png) 0 0 0 56 round; 
		  	-o-border-image: url(/app/img/hexborder.png) 0 0 0 56 round; 
		  	border-image: url(/app/img/hexborder.png) 0 0 0 56 fill round;
			.no-borderimage & {
				border: 0;
				padding-left: 96px;
				background: {
		  			image: url('../img/hex.png');
		  			repeat: repeat-y;
		  			position: 20px 0;
		  		}
		  	}
	  	}  		
  	}
}

// hex divider
#hex-divider {
	height: 100px;
	margin-top: -50px;
	margin-bottom: -49px;
	position: relative;
	background: {
		image: url('/app/img/hex-divider.png');
		repeat: no-repeat;
		position: center;
		size: cover;
	}
	z-index: 2;
	@media screen and (min-width: $screen-sm-min) {
		height:205px;
		margin-top:-90px;
		margin-bottom: -114px;
		background-size: auto;
	}
    -ms-behavior: url('/app/bower_components/background-size-polyfill/backgroundsize.min.htc');
}

// jump button
.jump-button {
	a {
		font-size: 2.8em;
		padding: 0;
		color: #b9be10;
		display: inline-block;
		@media screen and (min-width: $screen-sm-min) {
			font-size: 3em;
			padding: 25px;
		}
	}
}

//adding the hex background
.text-banner .jump-button {
	margin: 20px auto -40px;
	width:87px;
	height:60px;
	background: url('../img/hex-jump.png') no-repeat;
	a {
		color: #fff;
		padding: 10px 0 0;
		font-size: 2.5em;
	}

	@media screen and (min-width: $screen-sm-min) {	
		margin: 20px auto -60px;
	}
}

// // rest of the page, enclosed in #wrap
// main {
// 	margin-top:-115px;
// }

// image banners: control size and background of each here using nth-of-type slector
.image-banner {
	height: 300px;
	position: relative;
	background: {
		size: cover;
		repeat: no-repeat;
		attachment: fixed;
		position: 50% 0;
	}
    -ms-behavior: url('/app/bower_components/background-size-polyfill/backgroundsize.min.htc');
	&.backs-of-blurry-people, &.summer {
		background-image: url('/app/img/backs-of-blurry-people.png');
	}
	&.where-are-the-blurry-people, &.autumn {
		background-image: url('/app/img/where-are-the-blurry-people.png');
	}
	&.blurry-people, &.winter {
		background-image: url('/app/img/blurry-people.png');
	}
	@media screen and (min-width: $screen-sm-min) {
		height: 600px;
	}
}

.btn-twitter {
	@include button-variant(#fff, #55ACEE, darken(#55ACEE, 5%));
}
.btn-facebook {
	@include button-variant(#fff, #3B5998, darken(#3B5998, 5%));
}
.btn-linkedin {
	@include button-variant(#fff, #007bb6, darken(#007bb6, 5%));
}


// text banners
.jumbotron.text-banner {
		background: white;
		margin-bottom: 0;
		text-align: center;
		padding: {
			top: 40px;
			bottom: 40px;
		}
		@media screen and (min-width: $screen-sm-min) {
			padding-top: 60px;
			padding-bottom: 60px;
			text-align: left;
			h2 {
				font-size: 5em;
				font-weight: 700;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			padding-top: 80px;
		}
}

#header.jumbotron {
	background: {
		image: url('/app/img/into-darkness.png');
		repeat: no-repeat;
		size: cover;
		position: bottom;
	}
    -ms-behavior: url('/app/bower_components/background-size-polyfill/backgroundsize.min.htc');
  	border-bottom: 1px solid #ffffff;
  	.container {
  		margin: {
  			top: 20px;
  			bottom: 20px;
  		}
  		background: {
  			color: #fff;
  			color: rgba(255,255,255,.8);
  		}
  		@media screen and (max-width: $screen-xs-max) {
  			margin: {
  				left: 20px;
  				right: 20px;
  			}
  		}
  		@media screen and (min-width: $screen-sm-min) {
	  		padding: {
	  			top: 10px;
	  			bottom: 10px;
	  			left: 20px;
	  		}

		  	border-style: solid; 
		  	border-width: 0 0 0 56px; 
		  	-moz-border-image: url(/app/img/hexborder.png) 0 0 0 56 round; 
		  	-webkit-border-image: url(/app/img/hexborder.png) 0 0 0 56 round; 
		  	-o-border-image: url(/app/img/hexborder.png) 0 0 0 56 round; 
		  	border-image: url(/app/img/hexborder.png) 0 0 0 56 fill round;
			.no-borderimage & {
				border: 0;
				padding-left: 96px;
				background: {
		  			image: url('../img/hex.png');
		  			repeat: repeat-y;
		  			position: 20px 0;
		  		}
		  	}
  		}
  	}
}


// // ie-specific styles
// .ie {
// 	#hero-banner .container {
// 		margin-top: 40px;
// 	}
// 	#cta-banner .container {
// 		display: block;
// 		margin: 0 auto;
// 		width: 460px;
// 	}
// }

.maturity-level {
	white-space: nowrap;
}

.blueimp-gallery > .slides > .slide {
	overflow-y: auto;
	padding: {
		top: 50px;
		bottom: 50px;
	}
	> .slide-content {
		max-height: none !important;
		position: static;
	}
}
.btns {
	.btn {
		margin-bottom: 10px;
	}
}
.browsehappy {
	position: absolute;
	top: $navbar-height + 10px;
	width: 400px;
	left: 50%;
	margin: -200px;
}
.infographic-code.form-control {
	cursor: auto;
}
.webcast-link {
	position: relative;
}
.webcast-play {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 120px;
	margin: {
		top: -50px;
		left: -60px
	}
	font-size: 120px;
	text-shadow: 2px 2px 0 rgba(0,0,0,1);
	text-align: center;
	color: #333;
	opacity: 0.4;
	a:hover &, a:active & {
		opacity: 0.5;
	}
}

.report-title.it {
	@media screen and (min-width: $screen-lg-min) {
		padding: {
			left: 10px;
			right: 10px;
		}
	}
}