<header id="header" class="jumbotron">
	<div class="container">
	<h1>About the Research</h1><p>Research Methodology, Demographics and Participant Profile</p>
  <div class="rmcp-share-buttons" data-share-text="Learn more about Resource Management and Capacity Planning Report’s methodology, demographics, profiles" data-share-hash="#pmot,#proddev" data-share-url="http://bit.ly/Xvmw6d"></div>
	</div>
</header><!-- /header -->

<div class="container">
<main>
  <section id="first" class="row callout">
   <article class="col-sm-12">
    <h2>Seeking to Understand the Resource Dilemma</h2>
    <p class="lead">Organization leaders responsible for people resources in various industries have perennially expressed challenges around maximizing the efficiency of their people resources. In particular, they have widely agreed that one of the top pain points is that of over-committing resources and the business implications that persist as a result. The research study was commissioned by Planview to identify and benchmark the state of resource management and capacity planning at larger organizations.</p>
   </article>
  </section>
  <section id="second" class="row callout">
   <div class="img-callout col-sm-4 text-center">
     <div class="well">
       <img src="http://www.appleseedpartners.com/images/appleseed_logo.png" alt="Appleseed Partners" class="center-block img-responsive" style="margin-top: 20px; margin-bottom: 20px">
       <img src="/app/img/dig-logo.png" alt="Dig Market Research" class="center-block img-rounded img-responsive" style="margin-top: 20px; margin-bottom: 20px; width: 210px; height: auto;">
     </div>
   </div>
   <article class="col-sm-8">
    <h2>Methodology &amp; Respondent Profile</h2>
    <p class="lead">In May 2014, Appleseed Partners and Dig Market Research conducted an online survey of 480 resource leaders from around the globe. The online survey was preceded by qualitative phone interviews for the development of the survey. The resource leaders included executives, directors, and managers with responsibility for the resource management and/or capacity planning process at their organization. Review the demographics and profile of respondents.</p>
   </article>
  </section>
  <section class="callout row">
    <div class="col-xs-12"><h2>Demographics</h2></div>
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="demographic in demographics" ng-class="{active:isCurrentDemographic(demographic)}"><a href="#" ng-click="setDemographic(demographic)">{{demographic.name}}</a></li>
      </ul>
    </div>
    <div class="col-sm-9"><img ng-src="{{getDemographicImage()}}" alt="{{getDemographicAltText()}}" class="img-responsive center-block">
    </div>
  </section>
  <section id="third" class="row callout">
   <article class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

    <h2 class="text-center">Margins of Error</h2>
     <table class="table table-hover">
       <thead>
         <tr>
           <th></th>
           <th style="text-align: center;">Margin of Error (95% Confidence Level)</th>
         </tr>
       </thead>
       <tbody>
         <tr>
            <th scope="row">Total Sample (n=480)</th>
           <td style="text-align: center;">&plusmn;4.47%</td>
         </tr>
         <tr>
            <th scope="row">Low CP Maturity (n=180)</th>
           <td style="text-align: center;">&plusmn;7.3%</td>
         </tr>
         <tr>
            <th scope="row">Mid CP Maturity (n=152)</th>
           <td style="text-align: center;">&plusmn;7.95%</td>
         </tr>
         <tr>
            <th scope="row">High CP Maturity (n=146)</th>
           <td style="text-align: center;">&plusmn;8.11%</td>
         </tr>
         <tr>
            <th scope="row">Low RM Maturity (n=142)</th>
           <td style="text-align: center;">&plusmn;8.22%</td>
         </tr>
         <tr>
            <th scope="row">Mid RM Maturity (n=175)</th>
           <td style="text-align: center;">&plusmn;7.41%</td>
         </tr>
         <tr>
            <th scope="row">High RM Maturity (n=158)</th>
           <td style="text-align: center;">&plusmn;7.8%</td>
         </tr>
       </tbody>
     </table>
   </article>
  </section>
  <section class="callout row">
    <p class="text-center">
      <a href="/report" class="btn btn-lg btn-danger">Get the Reports</a>
    </p>
  </section>
</main>
</div>