<div class="col-sm-3 col-md-2">
	<div ng-repeat="group in groups">
	<h4>{{group.name}}</h4>
	<div class="list-group switcher">
	  <a href="#" class="list-group-item" ng-class="{active:isActive(individual)}" ng-repeat="individual in navNames(group.id)" ng-click="changeData(individual)">
	    {{individual}}
	  </a>
	</div>
	</div>
</div>
<div class="col-sm-9 col-md-10">
	<div class="chart">
		<img ng-src="{{chartImage()}}" alt="{{chartTitle()}}" ng-show="staticCharts" class="img-responsive">
	</div>
<!--	<hr>
	<div class="key-takeaway">
		<h3>Key Takeaway</h3>
		<p>
			{{keyTakeaway()}}
		</p>
	</div> -->
</div>
