<header id="header" class="jumbotron">
	<div class="container">
	<h1>Explore the Findings</h1>
  <p>Explore the data from the 2014 Resource Management and Capacity Planning Study. Filter top pain points and business risks by organization maturity level and organizational function to see how your peers stack up.</p>
  <div class="rmcp-share-buttons" data-share-text="2014 Resource Management & Capacity Planning Report is here! See the data by org function." data-share-hash="#PMOT,#Proddev,#Services" data-share-url="http://bit.ly/1uM8vhR"></div>
	</div>
</header><!-- /header -->

  <nav class="subnav">
<div class="container">
    <ul class="nav nav-pills nav-justified">
      <li ng-class="{active: isCurrentSet(view)}" ng-repeat="view in chartData.views"><a href="#" ng-click="setDataSet(view)" data-rmcp-tool-title="{{chartData[view].text}}" class="rmcp-tool-tip">{{chartData[view].name}}</a></li>
    </ul>
    </div>
  </nav>

<div class="container">
<main>
  <section class="callout row">
    <div class="rmcp-bar-chart" data-chart-data="currentChartData()" data-unlocked=""></div>
  </section>
  <section class="callout row">
    <p class="text-center">
      <a href="/report" class="btn btn-lg btn-danger">Get the Reports</a>
    </p>
  </section>
</main>
</div>
