<header id="header" class="jumbotron">
	<div class="container">
	<h1>This is a header</h1>
  <p>Echo Park before they sold out biodiesel art party readymade. Narwhal fap actually paleo mlkshk pour-over shabby chic vegan farm-to-table letterpress church-key pop-up.</p>
  <div class="rmcp-share-buttons"></div>
	</div>
</header><!-- /header -->

  <nav class="subnav">
<div class="container">
    <ul class="nav nav-pills nav-justified">
      <li ng-class="{active: isCurrentSet('cpPain')}"><a href="#" ng-click="setDataSet('cpPain')">Capacity Planning Pain Points</a></li>
      <li ng-class="{active: isCurrentSet('rmPain')}"><a href="#" ng-click="setDataSet('rmPain')">Resource Management Pain Points</a></li>
      <li><a href="#third">RMCP Business Risks</a></li>
    </ul>
    </div>
  </nav>

<div class="container">
<main>
  <section class="callout row">
    <div class="rmcp-bar-chart" data-chart-data="currentChartData()" data-unlocked=""></div>
  </section>
  <section class="callout row">
    <p class="text-center">
      <a href="#" class="btn btn-lg btn-success">Get the Report</a>
    </p>
  </section>
</main>
</div>
