<header id="header" class="jumbotron">
	<div class="container">
	<h1>Assess Your Company&rsquo;s Maturity<br><small class="text-danger">Definitions &amp; Descriptions</small></h1>
  
  <div class="rmcp-share-buttons" data-share-text="How mature is your company regarding Resource Management & Capacity Planning? Assess yourself today!" data-share-hash="#pmot,#proddev" data-share-url="http://bit.ly/1sD74hl"></div>
	</div>
</header><!-- /header -->

<div class="container">
<main>
  <section class="row callout">
   <article class="col-sm-12">
     <h2>Definitions</h2>
     <p class="lead" style="margin-bottom: 0;">For the purpose of this study, the definitions of capacity planning and resource management are below. Refer to these definitions as you assess your organization&rsquo;s maturity:</p>
     <div class="row">
     <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
               <dl>
                 <dt class="h3">Capacity Planning</dt>
                 <dd>The act of assessing resource availability during the project selection and prioritization process considering resource proficiency levels and potential throughput.  This ensures that the organization has the capacity to take on investments at the right time and with the right resources.</dd>
                 <dt class="h3">Resource Management</dt>
                 <dd>The ongoing, tactical assignment of personnel to planned and unplanned activities, the selection and identification of resources by skill, type, cost center, and/or other categories, and the maintenance of resource data.</dd>
               </dl>
     </div>
          </div>
   </article>
  </section>
  <section class="row callout">
    <div class="col-sm-12"><h2>Maturity Descriptions</h2>
        <p class="lead">Survey participants were asked what level best describes the Capacity Planning or Resource Management Maturity Level for their group. The following are descriptions that were provided in the survey for these two disciplines.  Level 1 is the lowest level of maturity to Level 5, the highest level of maturity. </p>
        <p class="lead">Use these descriptions to assess your organization&rsquo;s maturity level.</p>
        </div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" style="margin-top: 20px;">
        <ul class="nav-tabs nav">
          <li ng-class="{active:isCurrentTab('cpLevels')}"><a href="#" ng-click="setCurrentTab('cpLevels')">Capacity Planning Maturity Levels</a></li>
          <li ng-class="{active:isCurrentTab('rmLevels')}"><a href="#" ng-click="setCurrentTab('rmLevels')">Resource Management Maturity Levels</a></li>
        </ul>
        <table ng-show="isCurrentTab('cpLevels')" class="table table-hover" style="margin-top: 20px;">
          <thead>
            <tr>
              <th>Level</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Level 1</th>
              <td>
                <ul>
                  <li>Very limited understanding of capacity or demand</li>
                  <li>No process for visibility</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Level 2</th>
              <td>
                <ul>
                  <li>Visibility is limited and relies on ad-hoc processes</li>
                  <li>Not feasible to consolidate resource visibility across the groups / projects</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Level 3</th>
              <td>
                <ul>
                  <li>High-level visibility of how staff and contract resources align with demand</li>
                  <li>Not a complete or repeatable process</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Level 4</th>
              <td>
                <ul>
                  <li>Effective planning process with visibility of role-level demand before work is committed</li>
                  <li>Can balance organization-wide capacity against prioritized pipeline</li>
                  <li>Still difficult to adapt to changes and reprioritize</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Level 5</th>
              <td>
                <ul>
                  <li>Our planning is continually monitored based on up-to-date capacity and demand data</li>
                  <li>Can run scenarios to manage change and prioritization</li>
                  <li>Can apply our most valuable resources to the highest-value projects</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table> 
        <table ng-show="isCurrentTab('rmLevels')" class="table table-hover" style="margin-top: 20px;">
          <thead>
            <tr>
              <th>Level</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="maturity-level">Level 1</th>
              <td>
                <ul>
                  <li>Unable to view workload and activities from a resource perspective</li>
                  <li>Basic understanding how resources are grouped by role (i.e. engineer, analyst)</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row" class="maturity-level">Level 2</th>
              <td>
                <ul>
                  <li>Track high-level deliverables or key milestones against a project</li>
                  <li>Informally coordinate availability and assignment mostly by generic role, process is manual</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row" class="maturity-level">Level 3</th>
              <td>
                <ul>
                  <li>Project or phase-level named resource assignment and simple role-based planning</li>
                  <li>Visibility into the projects each person is working on / percent time allocated, no roll-off dates</li>
                  <li>Actual time completed captured, little on upcoming assignments</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row" class="maturity-level">Level 4</th>
              <td>
                <ul>
                  <li>Detailed project schedules with short-term named resource assignments</li>
                  <li>Resource requests are at the role level</li>
                  <li>Resource assignments are made at a task level for better visibility</li>
                  <li>Global resource visibility, but difficult to adapt to changes and reprioritize</li>
                  <li>Ability to select from low-cost resource pools/offshore resources</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row" class="maturity-level">Level 5</th>
              <td>
                <ul>
                  <li>Mature work and activity planning process. Detailed, task-level schedules, cost information</li>
                  <li>Formal process to request and approve resources by role and skill, short/long term</li>
                  <li>Adapt to change and iterate effectively</li>
                  <li>Project managers ensure that resource assignments on projects are current and accurate, resources can provide feedback</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>            
          </div>
        </div>

  </section>
  <section class="callout row">
    <p class="text-center">
      <a href="/report" class="btn btn-lg btn-danger">Get the Reports</a>
    </p>
  </section>
</main>
</div>