<header id="header" class="jumbotron">
	<div class="container">
	<h1><i>The Resource Management and Capacity Planning Handbook</i><br><small class="text-danger">By Jerry Manas</small></h1>
  <div class="rmcp-share-buttons" data-share-text="Get the excerpt of @JerryManas latest book The Resource Management and Capacity Planning" data-share-hash="#RMCP" data-share-url="http://bit.ly/1wJMvq1"></div>
	</div>
</header><!-- /header -->


<div class="container">
<main>
  <section id="first" class="row callout">
   <article class="col-sm-6">
    <p class="lead">This new book demystifies the complexities of resource capacity and demand management and offers clear ways for maximizing your limited resources to drive business growth and sustainability. This groundbreaking guide includes:</p>
    <ul class="lead">
     <li>Tools for overcoming common barriers and making decisions involving time capture, resource assignments, and competing priorities</li>
     <li>Recommendations on ownership of the organization&rsquo;s resource management and capacity planning functions</li>
     <li>Considerations for addressing the human side of resource management and capacity planning</li>
     <li>Case studies from organizations that have used the book’s methods to achieve great success</li>
    </ul>
    <p class="lead">Use this handbook as a reference for the information, insight, and proven methods to take your company to the next level.</p>
    <p class="text-center">
      <a href="/app/assets/Jerry-Manas-Excerpt-C.pdf" class="btn btn-success btn-lg" target="_self">Get a Sample Chapter</a>
      <a href="http://www.amazon.com/Resource-Management-Capacity-Planning-Handbook/dp/007183625X" class="btn btn-success btn-lg" target="_blank">Get it on Amazon</a>
    </p>
   </article>
   <div class="img-callout col-sm-6 text-center">
     <img src="/app/img/jerry-manas-resource-management-capacity-quadrant-handbook-cover-400.png" alt="The Resource Management and Capacity Planning Handbook cover" class="img-responsive img-thumbnail center-block">
   </div>
  </section>
  <section id="first" class="row callout">
   <div class="img-callout col-sm-2 text-center">
     <img src="/app/img/jerry-manas.jpg" alt="Jerry Manas" class="img-responsive img-rounded center-block">
   </div>
   <article class="col-sm-10">
    <h2>About the Author</h2>
    <p class="lead">Jerry Manas is a best-selling business author and recognized thought leader in organizational project and resource management. He is also senior editor for market leading portfolio management and project collaboration firm, Planview. His work has been highlighted in a variety of publications, including the Houston Chronicle, Chicago Sun Times, National Post, Globe and Mail, Huffington Post, and others. Follow him on Twitter <a href="https://twitter.com/jerrymanas" target="_blank">@jerrymanas</a></p>
   </article>
  </section>
  <section class="callout row">
    <p class="text-center">
      <a href="/explore-findings" class="btn btn-lg btn-danger">Explore the Findings</a>
    </p>
  </section>
</main>
</div>