    <!-- CTA Button banner, appars after scrolling 65% of screen size. Controlled by JS at the bottom of this document, CSS transitions. -->
    <div class="rmcp-cta-bar"></div>

    <!-- Hero Banner -->
    <div id="hero-banner">
      <div class="container hex-border">
        <h1>State of Resource Management and Capacity Planning</h1>
        <h2>Benchmark Study 2014</h2>
        <h3>The information in the 2014 Benchmark Study will help companies better deliver on their business goals with the most efficient and intelligent use of their resources.</h3>
        <div class="hero-buttons">
          <a class="btn btn-danger btn-lg" role="button">Explore the Findings</a><a class="btn btn-danger btn-lg" role="button">Get the Report</a>
        </div>
      </div>
    </div>

    <!-- Hex Divider -->
    <div id="hex-divider">
      <div class="jump-button text-center">
            <a href="#one"><i class="fa fa-arrow-circle-down"></i></a>
      </div>
    </div>

    <main>
      
      <!-- First Image Banner -->
      <div class="image-banner backs-of-blurry-people">
      </div>

      <!-- First Text Banner -->
      <section class="jumbotron text-banner" id="one">
        <div class="container">
          <div class="row">
            <div class="text-column col-md-8">
              <h2>Text on the Left</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae semper lectus. Mauris molestie risus vitae mollis auctor.Maecenas sit amet porta leo. Cras euismod tellus nec ante dapibus pellentesque.  <a href="#">Read More...</a></p>
            </div>
            <div class="image-column col-md-4">
              <img src="img/report-placeholder.jpg" class="img-responsive">
            </div>
          </div>
          <div class="jump-button text-center">
            <a href="#two"><i class="fa fa-arrow-down"></i></a>
          </div>
        </div>
      </section>

      <!-- Second Image Banner -->
      <div class="image-banner where-are-the-blurry-people">
      </div>

      <!-- Second Text Banner -->
      <section class="jumbotron text-banner" id="two">
        <div class="container">
          <div class="row">
            <div class="text-column col-md-8">
              <h2>Text on the Right</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae semper lectus. Mauris molestie risus vitae mollis auctor.Maecenas sit amet porta leo. Cras euismod tellus nec ante dapibus pellentesque.  <a href="#">Read More...</a></p>
            </div>
            <div class="image-column col-md-4">
              <img src="img/report-placeholder.jpg" class="img-responsive">
            </div>
          </div>
          <div class="jump-button text-center">
            <a href="#hero-banner"><i class="fa fa-arrow-down"></i></a>
          </div>
        </div>
      </section>

      <!-- Second Image Banner -->
      <div class="image-banner blurry-people">
      </div>

    </main><!--/main-->