    <!-- CTA Button banner, appars after scrolling 65% of screen size. Controlled by JS at the bottom of this document, CSS transitions. -->
    <div class="rmcp-cta-bar"></div>

    <!-- Hero Banner -->
    <div id="hero-banner">
      <div class="container hex-border">
        <h1>State of Resource Management and Capacity Planning<br>
        <small style="color: #58585b;">Benchmark Study 2014</small></h1>
        <p class="lead">The information in the 2014 Benchmark Study will help companies better deliver on their business goals with the most efficient and intelligent use of their resources.</p>
        <div class="hero-buttons">
          <a class="btn btn-danger btn-lg" href="/explore-findings">Explore the Findings</a><a class="btn btn-danger btn-lg" href="/report">Get the Reports</a>
        </div>
      </div>
    </div>

    <!-- Hex Divider -->
    <div id="hex-divider">
      <div class="jump-button text-center">
            <a href="#one"><i class="fa fa-arrow-circle-down"></i></a>
      </div>
    </div>

    <main>
      
      <!-- First Image Banner -->
      <div class="image-banner backs-of-blurry-people" data-stellar-background-ratio="0.5">
      </div>

      <!-- First Text Banner -->
      <section class="jumbotron text-banner" id="one">
        <div class="container">
          <div class="row">
            <div class="image-column col-md-3 col-md-push-9 col-sm-4 col-sm-push-8">
              <img src="/app/img/51percent.png" class="img-responsive">
            </div>
            <div class="text-column col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 text-right">
              <h2>Loss of revenue</h2>
              <p class="lead">51% of executives said <em>Loss of Revenue</em> was the top business risk of continually overcommitting resources.  <a href="/report">Get the Reports</a></p>
            </div>
          </div>
          <div class="jump-button text-center">
            <a href="#two"><i class="fa fa-arrow-down"></i></a>
          </div>
        </div>
      </section>

      <!-- Second Image Banner -->
      <div class="image-banner where-are-the-blurry-people" data-stellar-background-ratio="0.5">
      </div>

      <!-- Second Text Banner -->
      <section class="jumbotron text-banner" id="two">
        <div class="container">
          <div class="row">
            <div class="image-column col-md-3 col-sm-4">
              <img src="/app/img/50percent.png" class="img-responsive">
            </div>
            <div class="text-column col-md-9 col-sm-8">
              <h2>Lack of a combined holistic view </h2>
              <p class="lead">50% of respondents stated the <em>Lack of a Combined, Holistic View</em> of both resource capacity and pipeline demand is the largest Capacity Planning pain point. <a href="/explore-findings">Explore the Findings</a></p>
            </div>
          </div>
          <div class="jump-button text-center">
            <a href="#three"><i class="fa fa-arrow-down"></i></a>
          </div>
        </div>
      </section>

      <!-- Second Image Banner -->
      <div class="image-banner blurry-people" data-stellar-background-ratio="0.5">
        <span class="rmcp-include-stellar"></span>
      </div>

      <!-- Second Text Banner -->
      <section class="jumbotron text-banner" id="three">
        <div class="container">
          <div class="row">
            <div class="image-column col-md-3 col-md-push-9 col-sm-4 col-sm-push-8">
              <img src="/app/img/57percent.png" class="img-responsive">
            </div>
            <div class="text-column col-md-9 col-md-pull-3 col-sm-8 col-sm-pull-4 text-right">
              <h2>Over-committing resources </h2>
              <p class="lead">57% of those surveyed indicated that <em>Over-committing Resources</em> was the largest pain point regarding Resource Management. <a href="/report">Get the Reports</a></p>
            </div>
          </div>
          <div class="jump-button text-center">
            <a href="#hero-banner"><i class="fa fa-arrow-up"></i></a>
          </div>
        </div>
      </section>

    </main><!--/main-->