<header id="header" class="jumbotron">
  <div class="container">
  <h1>Infographic<br><small>The Resource Dilemma</small></h1>
  <p>The research proves that the perpetual resource quandary is indeed solvable. Those that have attained a holistic view into both pipeline demand and resource capacity are enjoying business benefits today and express the desire for continuous improvement to drive even higher levels of resource efficiency and downstream returns.</p>
  <div class="rmcp-share-buttons" data-share-text="This is some text"></div>
  </div>
</header><!-- /header -->

<div class="container">
<main>
  <section class="row callout">
   <div class="img-callout text-center col-sm-12">
     <img src="http://placehold.it/800x2400" alt="" class="img-responsive img-rounded center-block">
   </div>
  </section>
  <section class="row callout">
    <p class="text-center">
      <a href="/explore-findings" class="btn btn-lg btn-success">Explore the Findings</a>
    </p>
  </section>
</main>
</div>