<header id="header" class="jumbotron">
  <div class="container">
  <h1>[Infographic] The Resource Dilemma</h1>
  </div>
</header><!-- /header -->

<div class="container">
<main>
  <section id="first" class="row callout">
   <div class="col-sm-12"><p class="lead">The research proves that the perpetual resource quandary is indeed solvable. Those that have attained a holistic view into both pipeline demand and resource capacity are enjoying business benefits today and express the desire for continuous improvement to drive even higher levels of resource efficiency and downstream returns.</p></div>
   <div class="img-callout text-center col-sm-12">
     <img src="http://placehold.it/600x800" alt="" class="img-responsive img-rounded center-block">
   </div>
  </section>
</main>
</div>