<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-danger" id="regModalLabel">Registration for Full Access</h4>
      </div>
      <div class="modal-body">
        <form accept-charset="utf-8" name="WEBForm" id="WEBForm" ng-hide="haveUserInfo()">
			<div class="form-group">
				<label for="EmailAddress">Email</label>
				<input class="form-control" type="email" name="EmailAddress" id="EmailAddress" value="" placeholder="" required ng-model="userInfo.Email">
			</div>
			<div class="form-group">
				<label for="FirstName">First Name</label>			
				<input class="form-control" type="text" name="FirstName" id="FirstName" value="" placeholder="" ng-model="userInfo.FirstName" required>
			</div>
			<div class="form-group">
				<label for="LastName">Last Name</label>			
				<input class="form-control" type="text" name="LastName" id="LastName" value="" placeholder="" ng-model="userInfo.LastName" required>
			</div>
			<div class="form-group">
				<label for="Company">Company</label>			
				<input class="form-control" type="text" name="Company" id="Company" value="" placeholder="" ng-model="userInfo.Company" required>
			</div>
			<div class="form-group">
				<label for="Title">Title</label>			
				<input class="form-control" type="text" name="Title" id="Title" value="" placeholder="" ng-model="userInfo.Title" required>
			</div>
			<div class="form-group">
				<label for="Country">Country</label>
 				<select class="form-control" id="Country" ng-model="userInfo.Country" ng-options="country.code as country.name for country in countries" required>
	      	    </select>
			</div>
			<div class="form-group">
				<label for="Work_Phone__c">Work Phone</label>			
				<input class="form-control" type="text" name="WorkPhone" id="WorkPhone" value="" placeholder="" ng-model="userInfo.Phone" required>
			</div>

			<div class="form-group">
		      <label for="marketSelect">What best describes your organizational needs regarding resource management and capacity planning?</label>
		      <select class="form-control" id="marketSelect" ng-model="userInfo.Market__c_lead" required>
      	      	<option value="">Choose One</option>
      	      	<option value="IT">Prioritizing and optimizing timely IT project delivery across the portfolio/enterprise</option>
      	      	<option value="PD">Driving product development, innovation and time-to-market</option>
      	      	<option value="SRP">Delivering services to maximize resources, revenue and margins</option>
      	      </select>
  	      </div>	

			<input class="form-control" type="hidden" id="{{field}}" ng-repeat="field in sfFields" name="{{field}}" value="" ng-model="userInfo[field]">
		</form>

	    <div ng-show="showMarketoBox()">
	      <p>Welcome, {{marketoInfo.userInfo.FirstName}} {{marketoInfo.userInfo.LastName}}!</p>

	      <div class="form-group">
		      <label for="marketSelect">What best describes your organizational needs regarding resource management and capacity planning?</label>
		      <select class="form-control" id="marketSelect" ng-model="userInfo.Market__c_lead" required>
      	      	<option value="">Choose One</option>
      	      	<option value="IT">Prioritizing and optimizing timely IT project delivery across the portfolio/enterprise</option>
      	      	<option value="PD">Driving product development, innovation and time-to-market</option>
      	      	<option value="SRP">Delivering services to maximize resources, revenue and margins</option>
      	      </select>
  	      </div>
		<p>
			<a ng-click="wrongUser()" href="#" class="btn btn-link">Not you?</a>
	     </p>
	    </div>
	    <div ng-show="showCookieBox()">
	      <p>Welcome back, {{cookie().FirstName}} {{cookie().LastName}}!</p>
		<p>
			<a ng-click="wrongUser()" href="#"  class="btn btn-link">Not you?</a>
	     </p>
      </div>
	    <div ng-show="userConfirmed.status">
	      <p>Thank you for your interest in Resource Management and Capacity Planning.</p>
	      <p>You now have full access to Explore the Findings and the RMCP Benchmark Study Report.</p>
      </div>
      <div class="modal-footer">
	     	<button ng-click="knownClose()" ng-show="showMarketoBox()" class="btn btn-success">Confirm Now for Full Access</button>
	     	<button ng-click="confirmClose()" ng-show="showCookieBox()" class="btn btn-success">Confirm Now for Full Access</button>
		<button type="submit" class="btn btn-success" form="WEBForm" id="reg-form-submit" ng-hide="haveUserInfo()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

