<header id="header" class="jumbotron">
	<div class="container">
	<h1>Get the Report<br><small class="text-danger">Benchmark Study 2014</small></h1>
  <p>The information in this report will help companies better deliver on their business goals with the most efficient and intelligent use of their resources.</p>
  <div class="rmcp-share-buttons" data-share-text="This is some text"></div>
	</div>
</header><!-- /header -->


<div class="container">
<main>
  <section id="first" class="row callout">
   <div class="img-callout col-sm-6 col-sm-push-6 text-center">
     <img src="/app/img/report-placeholder.jpg" alt="Report screenshot" class="img-responsive center-block">
   </div>
   <article class="col-sm-6 col-sm-pull-6" ng-hide="requestSent()">
    <h2>This report will provide:</h2>
    <ul class="lead">
     <li>Proof that organizations have made significant improvement towards solving the most common resource management and planning pain points</li>
     <li>Actionable information about the key practices top performers share</li>
     <li>Recommendations for implementing best practices in order to increase in maturity and achieve business benefits</li>
     <li>Steps for assessing your organization&rsquo;s resource management and capacity planning maturity</li>
    </ul>
    <p class="text-center"><button type="button" class="btn btn-danger btn-lg" ng-click="requestReport()">Send Me the Report</button></p>
   </article>
   <article class="col-sm-6 col-sm-pull-6" ng-show="requestSent()">
   <p class="lead">Thank you! You will receive an email containing the report shortly.</p>
   </article>
  </section>
</main>
</div>