<header id="header" class="jumbotron">
	<div class="container">
	<h1>Get the Report<br><small class="text-danger">Benchmark Study 2014</small></h1>
  <p>The information in this report will help companies better deliver on their business goals with the most efficient and intelligent use of their resources.</p>
  <div class="rmcp-share-buttons" data-share-text="Download The 2014 Resource Management and Capacity Planning Report today!" data-share-hash="#PMOT,#Proddev,#ProfessionalServices" data-share-url="http://bit.ly/1v0lMS5"></div>
	</div>
</header><!-- /header -->


<div class="container">
<main>
  <section id="first" class="row callout">
   <div class="img-callout col-sm-6 col-sm-push-6 text-center">
     <img src="/app/img/report-placeholder.jpg" alt="Report screenshot" class="img-responsive center-block">
   </div>
   <article class="col-sm-6 col-sm-pull-6">
    <h2>This report will provide:</h2>
    <ul class="lead">
     <li><strong>Proof</strong> that organizations have made significant improvement towards solving the most common resource management and planning pain points</li>
     <li><strong>Recommendations</strong> for implementing best practices in order to increase in maturity and achieve business benefits</li>
     <li><strong>Steps</strong> for assessing your organization&rsquo;s resource management and capacity planning maturity</li>
    </ul>
    <p class="text-center"><button type="button" class="btn btn-danger btn-lg" ng-click="requestReport()"  ng-hide="requestSent()">Send Me the Report</button></p>
	   <div class="alert alert-info" ng-show="requestSent()">
	   <h4>Thank you!</h4>	
	   <p>You will receive an email containing the report shortly.</p>
	   </div>
   </article>
  </section>
</main>
</div>
<div class="rmcp-reg-form"></div>